.idea/
.vscode/
.DS_Store

node_modules/
build/
dist/
tmp/
temp/

database/*
!database/.gitkeep 

log/*
!log/.gitkeep 
*.log

# keep config folder with env files ONLY for demo purposes
/config/
/.env

.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*storybook.log
